<ion-header>
  <ion-toolbar class="cuerpo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home:id" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cuerpo">
  <img class="img" src="{{ imageUrl }}">
  <h2 class="text">{{ nombreUsuario }}</h2>
  <h3 class="text2">direccion: {{ direccion }}</h3>
  <h3 class="text2">Nro de celular: {{celular}}</h3>
  <br>
  <input type="file" (change)="subirAvatar($event)" color="light">
</ion-content>  
<ion-footer>
  <h3 class="text2">version: 1.0</h3>
</ion-footer>