<ion-content class="cuerpo">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="letra">recuperar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="custom-item" lines="none">
        <ion-label position="floating" class="letra">Usuario</ion-label>
        <ion-input class="custom-input"></ion-input>
      </ion-item>
      <ion-item class="custom-item" lines="none">
        <ion-label position="floating" class="letra">Correo</ion-label>
        <ion-input type="email" class="custom-input"></ion-input>
      </ion-item>
      <br>
      <ion-button class="boton">Recuperar</ion-button>
    </ion-card-content>
  </ion-card>
  </ion-content>
  <ion-footer>
    <ion-toolbar class="cuerpo">
      <ion-buttons slot="start">
        <ion-button class="letra" (click)="goToLogin()" color="light">Login</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>