<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">recuperar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type=""></ion-input>
      </ion-item>
      <br>
      <ion-button>Recuperar</ion-button>
    </ion-card-content>
  </ion-card>
  </ion-content>