<ion-content class="cuerpo">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="letra">TELLEVOAPP</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img class="img" src="../../assets/icon/Leonardo_Diffusion_make_a_pixelart_of_a_50_pixel_taxi_2-removebg-preview.png">
      <form [formGroup]="formularioLogin">
        <ion-item lines="none" class="custom-item">
          <ion-label position="floating" class="letra">Nombre De Usuario</ion-label>
          <ion-input formControlName="user_name" class="custom-input" ></ion-input>
        </ion-item>
        <ion-item lines="none" class="custom-item">
          <ion-label position="floating" class="letra">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" id="password" class="custom-input" ></ion-input>
        </ion-item>
        <ion-item lines="none" class="custom-item">
          <h6 (click)="goToContrasenna()" class="letra">¿olviaste tu contraseña?</h6>
        </ion-item>
        <ion-checkbox (ionChange)="mostrar()"  class="check"></ion-checkbox>
      </form>
      <br>
      <ion-button (click)="ingresar()" class="boton">Ingresar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
