.check{
    position: absolute; 
    top: 320px; 
    left: 80%;
    margin-right: 5px;
    --border-color: black;
    --checkbox-background-checked: #00b7ff;
    --size: 32px;
    --checkbox-background: rgb(0, 153, 255);
}
.check {
    position: absolute; 
    top: 280px; 
    left: 80%;
    margin-right: 5px;
    --border-color: black;
    --checkbox-background-checked: #00b7ff;
    --size: 32px;
    --checkbox-background: rgb(0, 153, 255);
}

ion-checkbox::part(checkbox) {
    border-radius: 50%;
}

ion-checkbox::part(checkbox) {
    width: var(--size);
    height: var(--size);
}

.custom-item {
    --background: #264AB4;
    display: flex;
    align-items: center;
}
.custom-item ion-checkbox {
    align-self: flex-end;
}
.custom-input {
    border: 1px solid black; 
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black; 
    flex: 1; /* Redondear los bordes si lo deseas */
}
.cuerpo{
    --background: linear-gradient(45deg, #2950BA,#0B1435);
}
.card{
    text-align: center;
    border: 2px solid black; 
    border-radius: 10px;
    --background: #264AB4;
}
.letra{
    font-family: "Roboto", sans-serif; 
    color:rgb(181, 236, 255);
}
.boton{
    --background: transparent;
    background: linear-gradient(50deg, #707070, #000000); 
    color: white; 
    padding: 5px 30px; 
    border: 2px solid black;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 50px; 
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 50px; 
}
.img{
    height: 220px;
    width: 220px;
}