.cuerpo{
    --background: linear-gradient(45deg, #2950BA,#0B1435);
}
.container {
    display: flex;
    flex-direction: column;
}

.item {
    order: 0; 
    margin: 2px; 
}

.item:first-child {
    order: -1; 
}
.custom-button {
    font-size: 20px;
    padding: 10px 25px; 
}