<ion-header>
  <ion-toolbar class="cuerpo">
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()" fill="outline" style="--color: #ffffff;">home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cuerpo" >
  <ion-list>
    <ion-item *ngFor="let p of datosDeViajes">
      <div class="container">
        <h5 class="item">Destino: {{ p.destino }}</h5>
        <h5 class="item">hora de salida: {{ p.hora_ini }}</h5>
        <h5 class="item"  *ngIf="p.estado_viaje; else noEstadoViaje"><button (click)="goToDetalle_viaje(p.id)" class="custom-button">tomar viaje</button></h5>
        <ng-template #noEstadoViaje>el viaje esta en curso</ng-template>
      </div>
    </ion-item>
  </ion-list>
</ion-content>