<ion-header>
  <ion-toolbar class="cuerpo">
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()" fill="outline" style="--color: #ffffff;">home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="cuerpo">
  <ion-list>
    <ion-item *ngFor="let p of datosDeViajes" class="viaje-item">
      <div class="container">
        <h5 class="destino">Destino: {{ p.destino }}</h5>
        <h5 class="hora">Hora de salida: {{ p.hora_ini }}</h5>
        <div *ngIf="p.estado_viaje; else noEstadoViaje" class="button-container">
          <ion-button (click)="goToDetalle_viaje(p.id)" class="custom-button">Tomar viaje</ion-button>
        </div>
        <ng-template #noEstadoViaje>
          <p class="estado-viaje">El viaje está en curso</p>
        </ng-template>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
