.img{
  height: 125px;
  width: 125px;
  border-radius: 50%;
  object-fit: cover;
  background: #dfdfdf;
}
.text{
  color: #C0DFF4;
  font-family: "Roboto", sans-serif; 
}
.menu_perfil{
  text-align: center;
  margin-top: 20px;

}
-menu::part(backdrop) {
  background-color: rgba(0,0, 0, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.18);
}
.orden_boton{
  display: flex;
  flex-direction: column;;
  margin-left: 50px;
  width: 200px;
}
.button_menu{
  height: 5px;
  color: #C0DFF4;
  --background: transparent; 
  --border-color: transparent;
  border: 2px solid black; 
  border-radius: 10px;
}
.button_menu:hover{
  --background: rgba(0, 0, 0, 0.1); 
}
.boton-derecha {
  position: absolute;
  top: 10%; 
  right: 10%; 
}
.menu_dentro{
  --background: #264AB4;
}
.h6_menu{
  margin-top: 80%; 
  position: relative; 
}
.elemento1 {
  position: absolute;
  left: 51%; 
  top: -10px; 
}

.elemento2 {
  position: absolute;
  left: 67%; 
  top: 15px; 
}
.Footer_Menu{
  text-align: center;
  background: #264AB4;
  border: 2px solid black;
}
.ion-padding{
  --background: linear-gradient(45deg, #2950BA,#0B1435);
}

.mapa{
height: 350px;

}
.bn31 {
  background-image: linear-gradient(to right, #290075 0%, #005da9 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: rgb(24, 196, 248);
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  
}

.bn31:hover {
  color: #fff;
}

.bn31 .bn31span {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn31:hover .bn31span {
  background: transparent;
}