.img{
  height: 125px;
  width: 125px;
  border-radius: 50%;
  object-fit: cover;
  background: #dfdfdf;
  margin-left: 70px;
  margin-top: 20px;
}
.text{
  margin-left: 110px;
}
ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}
.orden_boton{
  display: flex;
  flex-direction: column;;
  margin-left: 50px;
  width: 200px;
}
.button_menu{
  height: 5px;
}

.boton-derecha {
  position: absolute;
  top: 10%; /* Ajusta la posición vertical según tu preferencia */
  right: 10%; /* Ajusta la posición horizontal según tu preferencia */
}