<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Te Llevo app</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu_dentro" (click)="goToPerfil()">
      <div class="menu_perfil">
        <img class="img" src="">
        <h2 class="text">{{ nombreUsuario }}</h2>  
      </div>
      <div class="orden_boton">
        <ion-button class="button_menu">Pedir viajes</ion-button>
      </div>
      <div class="h6_menu">
        <h6 class="elemento1">ejemplo@duocuc.cl</h6>
        <h6 class="elemento2">9 9999 9999</h6>  
      </div>
    </ion-content>

    <ion-footer class="Footer_Menu">
      <h6>hola</h6>
    </ion-footer>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end" >
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
      <div class="menu_perfil">
        <img class="img" src="">
        <h2 class="text">{{ nombreUsuario }}</h2>  
      </div>
      <br>
      <h2 class="text">MAPA</h2>
      <div id="map"></div>
    </ion-content>
  </div>
</ion-app>