<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Te Llevo app</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu_dentro">
      <div class="menu_perfil"(click)="goToPerfil()">
        <img class="img" src="{{imageUrl}}">
        <h2 class="text">{{ nombreUsuario }}</h2>  
      </div>
      <div class="orden_boton">
        <ion-button class="button_menu" (click)="goToPedir_viaje() ">Pedir viajes</ion-button>
        <ion-button class="button_menu" (click)="goTocrearViajes()">Crear viaje</ion-button>
        <!--<ion-button class="button_menu">Pedir viajes</ion-button>-->
        <!-- <ion-button class="button_menu">Pedir viajes</ion-button>-->
      </div>
      <div class="h6_menu">
        <h6 class="elemento1 text">ejemplo@duocuc.cl</h6>
        <h6 class="elemento2 text">9 9999 9999</h6>  
      </div>
    </ion-content>

    <ion-footer class="Footer_Menu" (click)="goToLogin()">
      <h6 class="text">cerrar sesion</h6>
    </ion-footer>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end" >
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
      <div class="menu_perfil">
        <img class="img" src="{{imageUrl}}">
        <h2 class="text">{{ nombreUsuario }}</h2>  
      </div>
      <br>
      <p class="text">{{ direccion }}</p>
      <br>
      <div id="map" style="width: 400px; height: 400px;"></div>
    </ion-content>
  </div>
</ion-app>