.img{
  height: 125px;
  width: 125px;
  border-radius: 50%;
  object-fit: cover;
  background: #dfdfdf;
}
.text{
  color: #C0DFF4;
}
.menu_perfil{
  text-align: center;
  margin-top: 20px;

}
-menu::part(backdrop) {
  background-color: rgba(0,0, 0, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.18);
}
.orden_boton{
  display: flex;
  flex-direction: column;;
  margin-left: 50px;
  width: 200px;
}
.button_menu{
  height: 5px;
  color: #C0DFF4;
  --background: transparent; 
  --border-color: transparent;
  border: 2px solid black; 
  border-radius: 10px
}
.button_menu:hover{
  --background: rgba(0, 0, 0, 0.1); 
}
.boton-derecha {
  position: absolute;
  top: 10%; 
  right: 10%; 
}
.menu_dentro{
  --background: #264AB4;
}
.h6_menu{
  margin-top: 80%; 
  position: relative; 
}
.elemento1 {
  position: absolute;
  left: 51%; 
  top: -10px; 
}

.elemento2 {
  position: absolute;
  left: 67%; 
  top: 15px; 
}
.Footer_Menu{
  text-align: center;
  --background: #264AB4
}
.ion-padding{
  --background: linear-gradient(45deg, #2950BA,#0B1435);
}